@import url('index.css');

.App {
  position: absolute;
  width: 402px;
  height: 469px;
  left: 40%;
  top: 20%;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.heading {
  font-size: var(--font-size-heading);
  width: var(--text-width);
  line-height: var(--line-height-heading);
  margin: 36px auto 20px;
}

.instruction {
  font-size: var(--font-size-instruction);
  line-height: var(--line-height-instruction);
  width: var(--text-width);
  margin: auto;
}

.imageContainer {
  margin: 30px auto 0;
  width: 338px;
  height: 218.9px;
  background: #F6F8FB;
  border: 1px dashed #97BEF4;
  border-radius: 12px;
}
