@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

:root {
  --font-family: 'Poppins';
  --font-weight: 500;
  --font-size-heading: 18px;
  --font-size-instruction: 10px;

  --line-height-heading: 27px;
  --line-height-instruction: 15px;
  
  --text-width: fit-content;
 
}